* {
  margin: 0;
  box-sizing: border-box;
  max-width: 2000px ;
}

:root {
  /*VARIABLES DE CSS*/
  --back-color: white;
  --color-primario: #0769e9;
  --color-secundario: #F7C331;
  --color-texto-invertido: white;
  --color-texto: black;
  --navbar-color: rgba(54, 53, 53, 0.6);
  --seleccion-color: rgba(124, 123, 123, 0.6);
  --mobile-background-color: #3A4460;
  --font-size-normal: 20px;
  --font-size-titulo: 60px;
}
html {
background-image: url("../imagenes/fondo_render1.png");  
background-size: contain;
font-family: 'Roboto', sans-serif;
display: inline;

}
body {
padding: 0 10px 0;
}
/*HEADER*/
.header {

background-repeat: no-repeat;
background-size: contain;
height: 800px;
width: 98.5%;
position: fixed;
margin: 0 auto;

}
.header-nav {
z-index: 1;
}
.nav {
display: flex;

justify-content: space-between;
margin: 0 auto;
background-color: var(--navbar-color);    
line-height: 30px;
}

.nav-link {
  color: var(--text-color-inverse);
  text-decoration: none;
  
}

.nav-menu {
display: flex;
justify-content: space-between;

list-style: none;

 


}
.nav-menu-item {
  font-size: var(--font-size-normal);
  margin: 0 10px;
  line-height: 90px;
  text-transform: uppercase;
 
}
.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}
.nav-menu-link:hover {
  background-color: var(--seleccion-color);
  border-radius: 15px;
  transition: .5s;
}
.burger-item {
display:none;
}

.nav-buscador {
 display: none;
}

.secciones-menu {

display: none;
}





/*FOOTER*/

footer {
  max-width:100%;
  /*position: absolute;*/
  bottom: 0;
  margin-left: 0;
  
  /*Imagenes de fondo*/
  background-image: url("../imagenes/fondo-textura-hormigon-oscuro.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  
 
}


.footer-conteiner {
display: flex;
flex-direction:row;
justify-content:space-around;
align-items: center;
}
.footer-conteiner-img{
opacity: 0.9; 
max-width:15%;
margin:2em 0 0 0;
}

.social-iconos , .footer-menu {
  display: flex;
  

}

.social-icon {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  /*border: 1px solid #f2f2f2f2;*/
  background-image: url("../imagenes/linkedin.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.social-icon:hover{
  background-color: black;
  filter: invert(1);
}

.social-icon:nth-of-type(2){
  background-image: url("../imagenes/github.png");
  background-color: white;
} 
.social-icon:nth-of-type(3){
  background-image: url("../imagenes/whatsapp.png");
} 

.footer-conteiner-copy {
display: flex;
justify-content: space-between;
font-size: 12px;
color: var(--color-texto-invertido);

margin: 5em 0 0 0;
}