@media screen and (max-width: 499px)  {

    :root {
        /*VARIABLES DE CSS*/
        --back-color: white;
        --color-primario: #0769e9;
        --color-secundario: #F7C331;
        --color-texto-invertido: white;
        --color-texto: black;
        --navbar-color: rgba(54, 53, 53, 0.6);
        --seleccion-color: rgba(124, 123, 123, 0.6);
        --mobile-background-color: #3A4460;
        --font-size-normal: 20px;
        --font-size-titulo: 60px;
    }
    html {
      background-size: contain;
      margin: 0;
      max-width: 499px;
      
    }
    body {
      padding: 0;
      
    }
      /*HEADER*/
      .header {
        background-image:none;
        height: auto;
        max-width: 499px;
        position: fixed;
      }
      .burger-item {
        display: flex;
  
      }
      .nav-buscador {
        display: none;
    }
    
      .nav {
        display: flex;
        align-items: flex-end;
        justify-content:space-between ;
        margin: auto;
      }

      .nav-menu {
        margin-right: 0;
        max-width: auto;
      }
      .nav-menu-item {
        margin: auto;
        line-height: 10px;
        font-size: medium;

       }
       .nav-menu-link {
        padding: auto;
       }
       .secciones-menu {
        display: none;
      }
      .happyhour {
        font-size: 20px;
       }

      .happyhour-2x1 {
        text-align:center;
      }
      
@keyframes typing {
    0% {
      transform: translateX(none);
    }
   
  }

  /*GALERIA DE IMAGENES*/

.galeriadeimagenes {
  
  display: flex;
  margin: auto 10px;
  height: 400px;
  z-index: 0;
}

.galeriadeimagenes-img:hover {
  cursor:grab;
  width: 500px;
  height: 400px;
  opacity: 1;
  filter: contrast(110%);
  
}
/*RECOMENDACION DE BEBIDA Y COMIDA*/

.recomendacion {
  margin: 3em 10px 20px 10px;
  font-size: 40px;

  scroll-margin-top: 150px;
}
      .cocktailSection, .mealSection{
       
        max-width: auto;
        margin: 10px 10px;
        height: auto;
    }

    #cocktailImage{
      margin: 2em 0 0 2em;
     
      width: 200px;
      height: 150px;
      opacity: 1;
    }
    #cocktailInstructions {
        font-size: 10px;
        margin: 0;
        width: 300px;
        max-height: auto; /* Ajusta el valor según el espacio disponible */
        overflow: auto;
      }
      #cocktailDetails {
        margin: 10px 0 10px 50px;
      }
      #cocktailName, #mealName {
        font-size: 26px;
        margin: auto;
      }
  
     #mealInstructions {
    font-size: 10px;
    color: #ffff1f;
    margin: 0 1em 1em 5em;
    
  }
   #mealImage {
    margin: auto 0px auto 10em;
    opacity: 0.9;
    width: 200px;
    height: 150px;

   }
    #mealName {
    max-width: auto;
    margin: auto 5.5em;
  }

  .Nosotros {
    text-align: center;
    margin: auto 10px;
  }
  .Nosotros-img{
    display: none;
  }
  .Nosotros-p {
    font-size: 14px;
    margin: auto;
  }
  .testimonial-section {
    
    padding: 20px 0;
    
   background-size: 100% 100%;
    overflow: auto;
    max-width: auto;
    height: auto;
    margin: 3em auto 10em auto;
  }
  .testimonial-box {
    opacity: 0.9;
    border: #d4470f solid;
  }

  footer {
    max-width:auto;
    
    /*Imagenes de fondo*/
    background-image: url("../imagenes/fondo-textura-hormigon-oscuro.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}
.social-icon {
  height: 30px;
  width: 30px;

}

.footer-conteiner-copy {
font-size: 10px;
margin: 2em 0 0 0;
}

}
