@media screen and (max-width: 912px) and (min-width: 500px) {
    * {
        max-width: 911px;
  }
    html {
     
      background-size: contain;
      margin: 0;
      max-width: auto;
      
    }
    body {
      padding: 0;
      
    }
      /*HEADER*/
      .header {
        background-image: none;
        height: auto;
        margin-bottom: 0;
      }
      
        
       
      .burger-item {
        display: flex;
  
      }
      .nav-buscador {
        display: none;
    }
    
      .nav {
        display: flex;
        align-items: flex-end;
        justify-content:space-between ;
        margin: auto;
      }

      .nav-menu {
        margin-right: 0;
        max-width: auto;
      }
      .nav-menu-item {
        margin: auto;
        line-height: 20px;
        font-size: medium;
       }
       .nav-menu-link {
        padding: auto;
       }
       .secciones-menu {
        display: none;
      }
      .secciones-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin: auto;
        padding:auto;
      }
      .secciones-menu-link {
        
        padding: auto;
        font-size: var(--font-size-normal);
        text-decoration:none;
      }
      .secciones-menu-link:hover {
        color: #c4c4c4;
        transform: scale(1.2);
      }
      .happyhour {
        
        justify-content: center;
        align-items: center;
       
      
      }
      .happyhour {
        font-size: 30px;
        padding: auto;
        margin:0;
      }
      
      .happyhour-2x1 {
        text-align:center;
      }

@keyframes typing {
    0% {
      transform: translateX(none);
    }
   
  }

  .galeriadeimagenes {
  
    display: flex;
    margin: auto 10px 10em 10px;
    height: 500px;
    z-index: 0;
  }
  
  .galeriadeimagenes-img:hover {
    cursor:grab;
    width: 500px;
    height: 500px;
    opacity: 1;
    filter: contrast(110%);
    
  }

      .cocktailSection, .mealSection{
        max-width: auto;
        height: auto;
        margin: auto 10px;
    }
    #cocktailImage{
      margin: 2em 0 0 5em;
      width: 200px;
      height: 150px;
      opacity: 1;
    }
    #cocktailName {
      color: rgb(255, 255, 255);
      padding: auto;
      font-size: 30px;
      margin: auto 0 auto 1.5em;
      
    }
      #cocktailDetails {
        margin: 20px 0 20px 20px;
      }
    #cocktailInstructions {
        font-size: 16px;
        max-height: auto;

      }
      #mealName {
        font-size: 30px;
        margin: auto 0 auto 15em;
        color: rgb(3, 3, 3);
      }
    #mealImage {
    margin: auto 0 auto 30em;
    opacity: 0.8;
    width: 200px;
    height: 150px;
    opacity: 1;
   }


 #mealInstructions {
font-size: 16px;
color: #ffff1f;
margin: 0 1em 1em 5em;

}

.Nosotros {
  
  margin:  5em auto 0 auto;
  font-family: 'Bebas Neue', sans-serif;
}


  .Nosotros-p {
    font-size: 18px;
    margin:auto 10px;
  }
  .Nosotros-img{
    display: none;
  }

  .testimonial-section {
    
    padding: 20px 0;
   background-size: 100% 100%;
    overflow: auto;
    max-width: auto;
    height: auto;
    margin: 3em auto 10em auto;
  }
  .testimonial-box {
    opacity: 0.9;
    border: #d4470f solid;
  }

  footer {
    max-width:auto;
    
    /*Imagenes de fondo*/
    background-image: url("../imagenes/fondo-textura-hormigon-oscuro.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}
.social-icon {
  height: 35px;
  width: 35px;

}

.footer-conteiner-copy {
font-size: 10px;
margin: 2em 0 0 0;
}

}

