* {
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    /*VARIABLES DE CSS*/
    --theme-color: white;
    --primary-color: #0769e9;
    --secundary-color: #F7C331;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3A4460;
}
html {
 background-image: url(imagenes/bar_bebidas.jpg);
  
font-family: 'Roboto', sans-serif;


}

/*HEADER*/
.header {
    display: flex;
    justify-content: center;
    background-image: url("imagenes/bitmap.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 70%;
    max-width: 1900px;  
      height: 800px;
    margin: 0 auto;
  }
.header-nav {
  background-color: rgba(54, 53, 53, 0.6);
  position: fixed;
  max-width: 1900px;
  min-width: 1600px;
  border-radius: 2%;
  
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 1500px;
    margin: 0 auto;

    
}
.nav-link {
    color: var(--text-color-inverse);
    text-decoration: none;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu {
    display: flex;
    margin-right: 10px;
    list-style: none;
}
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover {
    background-color: var(--menu-mobile-background-color);
    border-radius: 15px;
    transition: .5s;
}
.nav-buscador {
    
    box-sizing: border-box;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-repeat: no-repeat;
    padding: 2px 20px 2px 40px;
    width: 30%;
    opacity: 100;
    transition: width 0.4s ease-in-out;
}
.nav-buscador:focus {
    width: 60%;
}

/*MAIN*/
.happyhour {
  font-size: 70px;
  color: #ffffff;
  margin-bottom: 5em;

font-family: 'Oswald', sans-serif;

}
.happyhour h1,p {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.happyhour h1 {
  margin: 2em 0 0em 0;
}
.happyhour p {
  margin: 0 0 1em 0;
  opacity: 0.3;
  color:#555;
}
.neon1{
  color: #ffffff;
  text-shadow:
    0 0 5px #ffffff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(60, 245, 14),
    0 0 80px rgb(60, 245, 14),
    0 0 90px rgb(60, 245, 14),
    0 0 100px rgb(60, 245, 14),
    0 0 150px rgb(60, 245, 14);
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}


#typingEffect {
  display: inline-block; /* Hace que el título ocupe solo el ancho del texto */
  white-space: nowrap; /* Evita que el texto se desborde */
  margin: 1em 0 0 0; /* Elimina el margen para mantener el texto en su lugar */
  padding: 0; /* Elimina el padding para mantener el texto en su lugar */
  animation: typing 5s linear infinite alternate;
}

@keyframes typing {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


.recomendacion {
  color: #a5a1a1;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px 0;
  font-family: 'Bebas Neue', sans-serif;

  
  filter: drop-shadow(0 0 0.75rem rgb(81, 3, 224));
}
.Nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 3em;
  font-family: 'Bebas Neue', sans-serif;

}
.Nosotros h3 {
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 2em auto 1em auto;
  padding: 10px 20px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}
.Nosotros h3::before,
.Nosotros h3::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff;
}
.Nosotros h3::before {
  top: 0;
}
.Nosotros h3::after {
  bottom: 0;
}

.separador1 {
    
    
    width: 2000px;
    height: 800px;

    margin: 20px;

}


/*COCKTAIL*/
.cocktailSection { 
  background-image: url("imagenes/Comida1.jpg");
}
.cocktailSection{
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1700px;
    height: 700px;
    margin: 10px auto 0  auto;
    padding: 20px 0 0 0;
    border-radius: 1%;
    overflow-wrap: break-word;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 3px rgb(90, 90, 90),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  #cocktailImage, #mealImage {
    display: flex;
    margin: 3em 0 0 15em;
    background-size: cover;
    width: 300px;
    height: 400px;
    border-radius: 3%;
    opacity: 0.8;
    -webkit-box-shadow: 0px 12px 71px -8px rgba(38,35,38,1);
    -moz-box-shadow: 0px 12px 71px -8px rgba(38,35,38,1);
    box-shadow: 0px 12px 71px -8px rgba(38,35,38,1);
  }
  #cocktailDetails {
    margin: 2em 40em 1em 15em;
  }
  #cocktailName {
    font-size: 50px;
    font-weight: bold;
    color:var(--text-color-inverse);
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;


  }
  #cocktailInstructions {
    font-size: 20px;
    color:#ffff1f;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;

  
  }

  /*COMIDA*/
  .mealSection{
    background-image: url("imagenes/Comida.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1700px;
    height: 800px;
    margin: 30px auto 0  auto;
    padding: 20px 0 0 0;
    border-radius: 1%;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 3px rgb(90, 90, 90),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
#mealImage {
  display: flex;
  margin: 3em 0 0 60em;
  background-size: cover;
  width: 500px;
  height: 350px;
  border-radius: 3%;
  opacity: 0.8;
  -webkit-box-shadow: 0px 12px 71px -8px rgba(38,35,38,1);
  -moz-box-shadow: 0px 12px 71px -8px rgba(38,35,38,1);
  box-shadow: 0px 12px 71px -8px rgba(38,35,38,1);
  
}
#mealName {
  margin: 1em 0 1em 24em;
  font-size: 40px;
  font-weight: bold;
  color:var(--text-color-inverse);
}
#mealInstructions {
  font-size: 20px;
  color: #ffff1f;
  margin: 0 1em 1em 34em;
  padding: 0 1em;
  max-height: 200px; /* Ajusta el valor según el espacio disponible */
  overflow: auto;
}

/*CONTACTO*/
#contactSection {
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    
  }
  .contact-left {
    flex: 1;
  }
  .contact-right {
    flex: 1;
  }
  .contact-left h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 5px;
    color: #555;
  }
  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  button:hover {
    transform: scale(1.5);
    animation: rotateAnimation 2s infinite;
    
    background-color: #10740d;
  }
  @keyframes rotateAnimation {
    0% {
      
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(2deg);
    }
    66% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .separador2 {
    background-image: url(imagenes/friends.png);
    background-size: cover;
    width: 2000px;
    margin: 20px;

}

/*RAMDON USER*/  

.testimonial-section {
    
    padding: 40px 0;
    text-align:center ;
    background-image: url(imagenes/friends.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 1500px;
    height: 700px;
    margin: auto;
    
    
  }
  /*TEXTO DE ARRIBA*/
  .testimonial-section h2 {
    margin: 0 10px 20px 0;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;

    
  }
  .testimonial-carousel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 0 auto;
  }
  .testimonial-box {
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    
    box-shadow: 20px #e41ae444;
    border: #6f1097 solid;
    border-radius: 50px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 500px; /* Establece una altura fija para todos los recuadros */
  
    transition: transform 0.3s ease;
  }
  .testimonial-box:hover {
    transform: scale(1.05);
  }
  .testimonial-box img {
    border-radius: 30%;
    max-width: 100px;
    height: auto;
    margin:  60px 0 10px 0;
    transition: transform 0.3s ease;
  
    flex-shrink: 0; /* Evita que la imagen se contraiga */
  }
  .testimonial-box:hover img {
    transform: scale(1.2);
  }
  .testimonial-box p {
    margin: 50px auto 10px auto;
    color: #fcfcfc;
    text-shadow: 5px #0769e9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px; /* Modifica el tamaño de la fuente */
    
  }

  /*Separador*/
  .sepsep {
    padding: 100px;
    background-color: aqua;
  }

  /*FOOTER*/

  footer {
    width:100%;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    padding: 1em 8%;
    /*Imagenes de fondo*/
    background-image: url("imagenes/fondo_footer.jpg"); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-height: 80px;
    max-width: 200px;
    margin-bottom: 1rem;
    
}

.social-iconos , .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2px 0px 0px 0px;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    /*border: 1px solid #f2f2f2f2;*/
    background-image: url("imagenes/linkedin.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: black;
    filter: invert(1);
}

.social-icon:nth-of-type(2){
    background-image: url("imagenes/github.png");
    background-color: white;
} 
.social-icon:nth-of-type(3){
    background-image: url("imagenes/whatsapp.png");
} 


/*.footer-menu{
    list-style-type: none;
    color:antiquewhite;
    font-size: 18px;
}

.menu-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover {
    opacity: 1;
}*/

.copyright {
    color:white;
    opacity: 0.8;
    text-align: center;
    margin: 1em;
}

/*Colores
rgba(20,104,128,255) - Letras GRANDES
rgba(58,129,149,255) letra chica 
*/

